html {
  font-size: 10px;
}

body {
  background: url("#{$images-path}/core/body_bg.jpg") repeat center;
}

.select2-dropdown {
  min-width: 170px;
}

.main-container {
  background-color: #ffffff;
  @include clearfix;
  padding: 0 15px;
}

//[class*="col-"] > .banner {
//  margin: 0 20px;
//}

.banner {
  margin: 0 0 20px 0;

  &.baner_1 {
    margin-bottom: 33px;
  }
}