html {
  font-size: 10px;
}

body {
  background: url("#{$images-path}/core/body_bg.jpg") repeat center;
}

.wrapper {
  background: transparent;
}

.select2-dropdown {
  min-width: 170px;
}

.main-container {
  background-color: #ffffff;
  @include clearfix;
  padding: 0 15px;
}

//[class*="col-"] > .banner {
//  margin: 0 20px;
//}

.banner {
  margin: 0 0 20px 5px;

  &.banner_1 {
    margin-bottom: 20px;
  }

  &.banner_2 {}

  &.banner_3 {}

  &.banner_4 {margin-left: 15px}
}

.main {
  margin-top: 15px;
}