/app/.htaccess
/app/Mage.php
/RELEASE_NOTES.txt
/shell/
/api.php
/index.php
/cron.sh
/skin/frontend/base/
/install.php
/var/
/get.php
/app/bootstrap.php
/app/design/frontend/base/
/LICENSE_AFL.txt
/skin/install/
/js/
/LICENSE.html
/favicon.ico
/app/design/frontend/default/
/skin/adminhtml/
/app/code/
/downloader/
/mage
/skin/frontend/rwd/
/app/design/frontend/rwd/
/dev/
/LICENSE.txt
/app/design/install/
/lib/
/.htaccess
/app/design/adminhtml/
/includes/
/skin/frontend/default/
/media/
/errors/
/php.ini.sample
/index.php.sample
/cron.php
/.htaccess.sample
!/app/code/
/app/code/community/
/app/code/core/
/app/etc/local.xml.additional
/app/etc/config.xml
/app/etc/local.xml.template
/app/etc/local.xml
/app/etc/modules/Mage_Weee.xml
/app/etc/modules/Mage_All.xml
/app/etc/modules/Mage_Bundle.xml
/app/etc/modules/Mage_ImportExport.xml
/app/etc/modules/Mage_PageCache.xml
/app/etc/modules/Mage_Connect.xml
/app/etc/modules/Mage_Widget.xml
/app/etc/modules/Mage_Oauth.xml
/app/etc/modules/Mage_Compiler.xml
/app/etc/modules/Mage_Persistent.xml
/app/etc/modules/Phoenix_Moneybookers.xml
/app/etc/modules/Mage_Centinel.xml
/app/etc/modules/Mage_Downloadable.xml
/app/etc/modules/Mage_Api.xml
/app/etc/modules/Mage_CurrencySymbol.xml
/app/etc/modules/Cm_RedisSession.xml
/app/etc/modules/Mage_Authorizenet.xml
/app/etc/modules/Mage_Api2.xml
/app/etc/modules/Mage_XmlConnect.xml
/app/etc/modules/Mage_ConfigurableSwatches.xml
/app/etc/modules/Mage_Captcha.xml
