/app/.htaccess
/app/locale/
/app/Mage.php
/RELEASE_NOTES.txt
/shell/
/api.php
/index.php
/cron.sh
/skin/frontend/base/
/install.php
/var/
/get.php
/app/bootstrap.php
/app/design/frontend/base/
/LICENSE_AFL.txt
/skin/install/
/js/
/LICENSE.html
/favicon.ico
/app/design/frontend/default/
/skin/adminhtml/
/app/code/
/downloader/
/mage
/skin/frontend/rwd/
/app/design/frontend/rwd/
/dev/
/LICENSE.txt
/app/design/install/
/lib/
/.htaccess
/app/design/adminhtml/
/includes/
/skin/frontend/default/
/media/
/app/etc/
/errors/
/php.ini.sample
/index.php.sample
/cron.php
/.htaccess.sample