.reviews_items {
  margin-bottom: 20px;

  .item {
    margin-bottom: 20px;

    .content {
      background: #F3F3F3;
      color: #7A8493;
      padding: 20px 15px;
      margin: 0 0 20px 0;
      position: relative;

      .date {
        position: absolute;
        right: 0;
        top: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
        font-weight: normal;
      }

      &:after {
        display: block;
        content: "";
        position: absolute;
        left: 20px;
        bottom: -32px;
        border: 16px solid transparent;
        border-top: 16px solid #F3F3F3;
      }
    }

    .name {
      font-weight: bold;
      padding-left: 5px;
    }
  }
}