<?xml version="1.0" ?>
<!--
  ~ Copyright (c) 2017. Volodumur Hryvinskyi
  ~ @author   Volodumur Hryvinskyi <script@email.ua>
  ~ @package  scriptua\lp
  -->
<config>
    <modules>
        <Lp_Reviews>
            <version>0.0.4</version>
        </Lp_Reviews>
    </modules>

    <admin>
        <routers>
            <lpreviews_admin>
                <use>admin</use>
                <args>
                    <module>Lp_Reviews</module>
                    <frontName>lpreviews_admin</frontName>
                </args>
            </lpreviews_admin>
        </routers>
    </admin>

    <frontend>
        <routers>
            <lpreviews>
                <use>standard</use>
                <args>
                    <module>Lp_Reviews</module>
                    <frontName>reviews</frontName>
                </args>
            </lpreviews>
        </routers>
        <layout>
            <updates>
                <lpreviews>
                    <file>lp_reviews.xml</file>
                </lpreviews>
            </updates>
        </layout>
    </frontend>

    <global>
        <blocks>
            <lpreviews>
                <class>Lp_Reviews_Block</class>
            </lpreviews>
        </blocks>

        <helpers>
            <lpreviews>
                <class>Lp_Reviews_Helper</class>
            </lpreviews>
        </helpers>

        <models>
            <lpreviews>
                <class>Lp_Reviews_Model</class>
                <resourceModel>lpreviews_resource</resourceModel>
            </lpreviews>

            <lpreviews_resource>
                <class>Lp_Reviews_Model_Resource</class>
                <entities>
                    <reviews_items>
                        <table>lp_reviews_items</table>
                    </reviews_items>
                </entities>
            </lpreviews_resource>
        </models>

        <resources>
            <reviews_setup>
                <setup>
                    <module>Lp_Reviews</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </reviews_setup>
        </resources>

        <events>
            <lpreviews_save_after>
                <observers>
                    <mail_status_change>
                        <type>model</type>
                        <class>lpreviews/observer</class>
                        <method>invoicedStatusChange</method>
                    </mail_status_change>
                </observers>
            </lpreviews_save_after>
        </events>

        <template>
            <email>
                <lp_lp_group_email_template_admin module="Lp_Reviews">
                    <label>Added review for admin</label>
                    <file>added_review_for_admin.html</file>
                    <type>html</type>
                </lp_lp_group_email_template_admin>

                <lp_lp_group_email_template_user module="Lp_Reviews">
                    <label>Added review for user</label>
                    <file>added_review_for_user.html</file>
                    <type>html</type>
                </lp_lp_group_email_template_user>
            </email>
        </template>
    </global>

    <default>
        <lp>
            <lp_group>
                <recipient_email><![CDATA[hello@example.com]]></recipient_email>
                <sender_email_identity>custom2</sender_email_identity>
                <email_template_admin>lp_lp_group_email_template_admin</email_template_admin>
                <email_template_user>lp_lp_group_email_template_user</email_template_user>
            </lp_group>
        </lp>
    </default>
</config>
