<?xml version="1.0" ?>
<!--
  ~ Copyright (c) 2017. Volodumur Hryvinskyi
  ~ @author   Volodumur Hryvinskyi <script@email.ua>
  ~ @package  scriptua\lp
  -->
<config>
    <modules>
        <Lp_Reviews>
            <version>0.0.1</version>
        </Lp_Reviews>
    </modules>

    <admin>
        <routers>
            <lpreviews_admin>
                <use>admin</use>
                <args>
                    <module>Lp_Reviews</module>
                    <frontName>lpreviews_admin</frontName>
                </args>
            </lpreviews_admin>
        </routers>
    </admin>

    <adminhtml>
        <menu>
            <lpreviews module="lpreviews">
                <title>Reviews</title>
                <sort_order>77</sort_order>
                <action>lpreviews_admin/adminhtml_reviews</action>
            </lpreviews>
        </menu>
    </adminhtml>

    <frontend>
        <routers>
            <lpreviews>
                <use>standard</use>
                <args>
                    <module>Lp_Reviews</module>
                    <frontName>reviews</frontName>
                </args>
            </lpreviews>
        </routers>
        <layout>
            <updates>
                <lpreviews>
                    <file>lp_reviews.xml</file>
                </lpreviews>
            </updates>
        </layout>
    </frontend>

    <global>
        <blocks>
            <lpreviews>
                <class>Lp_Reviews_Block</class>
            </lpreviews>
        </blocks>

        <helpers>
            <lpreviews>
                <class>Lp_Reviews_Helper</class>
            </lpreviews>
        </helpers>

        <models>
            <lpreviews>
                <class>Lp_Reviews_Model</class>
                <resourceModel>lpreviews_resource</resourceModel>
            </lpreviews>

            <lpreviews_resource>
                <class>Lp_Reviews_Model_Resource</class>
                <entities>
                    <reviews_items>
                        <table>lp_reviews_items</table>
                    </reviews_items>
                </entities>
            </lpreviews_resource>
        </models>

        <resources>
            <reviews_setup>
                <setup>
                    <module>Lp_Reviews</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </reviews_setup>
        </resources>
    </global>
</config>
