.footer {
  background: #fff;
  padding: 0 15px;
  margin-bottom: 20px;

  .copyright {
    border-top: 1px solid #e0e0e0;
    padding: 15px 10px 20px 10px;
  }

  .menus {
    border-top: 1px solid #e0e0e0;
  }
}

