.menus {
  border-top: 1px solid #e0e0e0;
  margin-bottom: 20px;
  padding-top: 20px;
  line-height: 18px;

  .block-title {
    font-weight: 700;
    font-size: 1.7rem;
    color: #585858;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .links {
    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        line-height: 24px;

        a {
          font-size: 14px;
          color: #b0b0b0;

          &:hover,
          &:focus,
          &:active {
            font-weight: bold;
            color: #1ebd9d;
            text-decoration: none;
          }
        }
      }
    }
  }
}