.mega-menu {
  background-color: #fff;
  padding: 11px 0 27px 155px;

  .navbar-nav {
    margin: 0;

    .dropdown-menu {
      padding: 0;
      left: 10px;
      border: 1px solid #b8b8b8;
      box-shadow: none;

      &.level1 {
        left: 100%;
        top: 50%;
        margin-left: -19.5px;
        margin-top: -4px;
      }
    }

    li {
      a {
        font-size: 1.8rem;
        font-weight: 600;
        padding: 10px;
      }

      &.level1 {
        + .level1 {
          border-top: 1px solid #b8b8b8;
        }

        &.active {
          > a {
            background-color: #6fcfbc;
          }
        }

        a {
          font-size: 1.4rem;
          color: #535355;
          background-color: #f3f3f3;
          font-weight: normal;
          position: relative;

          .caret {
            position: absolute;
            right: 5px;
            top: 50%;
            margin-top: -2px;
            @include rotate(-90deg);
          }
        }
      }

      &.level2 {
        + .level2 {
          border-top: 1px solid #b8b8b8;
        }
        &.active {
          > a {
            background-color: #6fcfbc;
          }
        }

        a {
          background-color: #dcdcdc;
        }
      }
    }
  }
}