$button-background: #535355;
$button-color: #edf1f2;

.search {
  background-color: #f2f2f2;
  padding: 11px 92px 11px 180px;
  position: relative;

  input.form-control {
    width: 100%;
    border: 1px solid #dcdbdb;
    background-color: #ffffff;
    box-shadow: none;
  }

  button {
    width: 80px;
    height: 32px;
    position: absolute;
    right: 13px;
    top: 13px;
    text-transform: uppercase;
    font-size: 1.2rem;
    background-color: $button-background;
    border: none;
    color: $button-color;

    &:hover {
      background-color: darken($button-background, 10);
      color: $button-color;
    }
  }
}